.link_container {
  text-align: left;
  padding: 20px;
}

.p-container{
  text-align: left;
}

.ask-question {
  background-color: #17AA1C;
}

.ask-question h1{
  color: white;
}

#user-question {
  width: 40%;
  margin: 0 auto;
  margin-top: 20px;
}

#search-btn {
  background: white;
  color: #17AA1C;
  border-color: #E6E6E6;
}
