.page-body {
  background: grey;
}

.box {
  margin: auto;
  background: #17AA1C;
  color: #FFF;
  width: 300px;
  height: 10px;
  text-align: center;
  overflow: hidden;
  position: relative;
  top: 100px;
  bottom: -100px;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}

.box:hover {
  -webkit-transform:rotate(-360deg);
  transform:rotate(-360deg);
}

.container {
  width: 500px;
  margin: auto;
}

h1 {
  color: #FFF;
  font-size: 40px;
  position: relative;
  top: -150px;
}

button {
  top: 40px;
    width: 90px;
    height: 40px;
    padding: 10px;
    margin: -8px 0;
    background-color: #FFF;
    color: #17AA1C;
    font-size: 18px;
    border: 1px solid;
    border-radius: 4px;
    float: right;
    position: relative;
    cursor: pointer;
    -webkit-transition-duration:1s;
    transition-duration:1s;
}

button:hover
{
    -webkit-transform:rotate(360deg);
  transform:rotate(360deg);
}

