
<div class="footer">
  <div class="container">

    <div class="row">
      <div class="footer-social-links">
        <a href="#"><i class="fa fa-github"></i></a>
        <a href="#"><i class="fa fa-instagram"></i></a>
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
      </div>
    </div>

    <div class="row">
      <div class="final-row">

        <div class="col-sm-6">
          <a href="#">Terms of Service</a>
          <a href="about">About</a>
          <a href="#">Security</a>
        </div>

        <div class="col-sm-6">
          <p class="muted pull-right" id="copyright">© 2017 Papyru - All rights reserved</p>
        </div>
      </div>

    </div>

  </div>
</div>


