<div class="container-fluid">
  <div class="row ask-question text-center">
    <form>
      <div class="form-group">
        <h1 for="user-question">How can we help you?</h1>
        <textarea class="form-control" id="user-question" rows="3"></textarea>
      </div>
      <button type="submit" class="btn btn-default" id="search-btn">Submit</button>
    </form>
  </div>
    <div class="row">

          <div class="col-md-4">
          <div class="link_container">
              <ul>
                <li><%= link_to "Become a teacher", new_teacher_subject_path%></li>
                <li><%= link_to "Add new lesson", new_teacher_subject_path%></li>
                <li><%= link_to "Search for lessons", root_path%></li>
              </ul>
              <p>When all the pages are ready, we can add the rest of the links here</p>
            </div>
          </div>
          <div class="col-md-8">
 <div class="middle-part">


            <div class="p-container">
              <h3>Privacy</h3>
              <p>
                We take privacy seriously. The information you provide during this process is governed by our Privacy Policy and sent to us and our third-party partners using SSL—the same secure encryption that websites use to transmit credit card numbers. Our third-party partners handle this info according to our Privacy Policy.
              </p>
            </div>
          </div>
          </div>
      </div>

    </div>
  </div>
</div>
