<!-- <div class="banner">
  <div class="video-background">
      <iframe src="https://www.youtube.com/embed/W0LHTWG-UmQ?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&playlist=W0LHTWG-UmQ" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="banner-content">
    <h1>Learn everything you want. Anywhere.</h1>
    <p>Find your next private teacher in a few click.</p>

    <!-- we need a search bar and connect the result with teacher_subjects -->
  <!-- </div>
</div>  -->

<div class="video-container">
  <div class="title-container">
    <div class="headline">
      <h1>Learn everything you want. Anywhere.</h1>
    </div>

    <div class="description">
      <div class="inner">
        <p>Find your next private teacher in a few click.</p>
      </div>
    </div>

    <div class="search-bar">
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <form action="" class="search-form">
            <div class="form-group has-feedback">
              <label for="search" class="sr-only">Search</label>
              <input type="text" class="form-control" name="search" id="search" placeholder="search">
              <span class="glyphicon glyphicon-search form-control-feedback"></span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="filter">
  </div>

  <video autoplay loop class="fillWidth">
    <source src="https://player.vimeo.com/external/187294606.hd.mp4?s=1d236ca8645046f2fa2c0b2013f92d64c8426532&profile_id=119&oauth2_token_id=57447761" type="video/mp4" />Your browser does not support the video tag. We suggest you upgrade your browser.
  </video>

  <div class="poster hidden">
    <img src="http://www.videojs.com/img/poster.jpg" alt="">
  </div>
</div>


