<div class="video-container">
  <div class="title-container">
    <div class="headline">
      <h1>Learn everything you want. Anywhere.</h1>
    </div>

    <div class="description">
      <div class="inner">
        <p>Find your next private teacher in a few click.</p>
      </div>
    </div>
  </div>

  <div class="filter">
  </div>

  <video autoplay loop class="fillWidth">
    <source src="https://player.vimeo.com/external/187294606.hd.mp4?s=1d236ca8645046f2fa2c0b2013f92d64c8426532&profile_id=119&oauth2_token_id=57447761" type="video/mp4" />Your browser does not support the video tag. We suggest you upgrade your browser.
  </video>

  <div class="poster hidden">
    <img src="http://www.videojs.com/img/poster.jpg" alt="">
  </div>
</div>


