.footer {
  min-height: calc(15hv - 70px);
  align-items: center;
  background: white;
  transition: all 0.3s ease;
  border-top: 1px solid #E6E6E6;
  border-bottom: 1px solid #E6E6E6;
  padding: 0 30px 10px 30px;
}

.footer-social-links {
  padding: 15px;
  margin: 0 auto;
  border-bottom: 1px solid #17AA1C;
}

.footer-social-links a {
  color: #767676;
  text-decoration: none;
  font-size: 22px;
  padding: 0px 10px;
  transition: 0.16s;
}

.footer-social-links a:hover {
  color: #17AA1C;
}

.final-row {
  text-decoration: none;
  padding: 15px 10px 10px 10px;
}

.final-row a {
  color: #767676;
  padding-right: 10px;
  font-weight: lighter;
  font-size: 13px;
}

.final-row a:hover {
  color: #767676;
}

#copyright {
  color: #767676;
  font-weight: lighter;
  font-size: 13px;
}

