.footer {
  min-height: calc(15hv - 70px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: white;
  transition: all 0.3s ease;
}

.footer-social-links {
  padding: 15px;
  margin: 0 auto;
  border-bottom: 1px solid #17AA1C;
}

.footer-social-links a {
  color: #B2B2B2;
  text-decoration: none;
  font-size: 22px;
  padding: 0px 10px;
  transition: 0.16s;
}

.footer-social-links a:hover {
  color: #484848;
}

.final-row {
  text-decoration: none;
  padding: 10px;
}

.final-row a {
  color: #B2B2B2;
  padding-right: 10px;
  font-weight: lighter;
  font-size: 13px;
}

.final-row a:hover {
  color: #B2B2B2;
}

#copyright {
  color: #B2B2B2;
  font-weight: lighter;
  font-size: 13px;
}

