/* Main navbar */
.navbar-wagon {
  background: white;
  transition: all 0.3s ease;
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #E6E6E6;
}

/* Logo */
.navbar-wagon-brand img {
  height: 40px;
  position: relative;
}

.navbar-wagon-brand img:active {
  top: 1px;
}

/* User Avatar */
.navbar-wagon .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07);
  filter: opacity(120%);
  margin-left: 12px;
  position: relative;
}

.navbar-wagon .avatar:hover {
  cursor: pointer;
}

.navbar-wagon .avatar:active {
  top: 1px;
}

/* Right section */
.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-wagon-link {
  cursor: pointer;
  padding: 0px 18px;
  color: #484848;
  font-size: 13px;
}

.navbar-wagon-link:link, .navbar-wagon-link:visited, .navbar-wagon-link:hover, .navbar-wagon-link:active {
  text-decoration: none;
  color: #484848;
}

/* Navbar link */
.navbar-wagon-link span {
  position: relative;
}

.navbar-wagon-link span:hover {
  color: #484848;
  text-decoration: none;
  border-bottom: 2.5px solid #17AA1C;
}

.navbar-wagon-link span:active {
  top: 1px;
}

#navbar-login {
  color: #17AA1C;
  position: relative;
}

#navbar-login:active {
  top: 1px;
}

#navbar-signup {
  color: #17AA1C;
  background-color: transparent;
  border: 2px solid #17AA1C;
  border-radius: 4px;
  transition: background .16s;
  -webkit-transition: background .16s;
  padding: 8px 20px;
  margin-left: 12px;
}

#navbar-signup:hover {
  background-color: #17AA1C;
  color: #FFF;
  border: 2px solid #17AA1C;
}

/* Dropdown menu */
.navbar-wagon-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
  padding: 0 20px;
  border-radius: 0;
}

.navbar-wagon-dropdown-menu li > a {
  transition: 0.3s;
  color: #767676 !important;
  font-size: 14px !important;
  line-height: 22px !important;
  padding: 15px 100px 15px 0;
  border-bottom: 1px solid #F2F2F2;
}

.navbar-wagon-dropdown-menu li > a:hover {
  background: transparent !important;
  border-bottom: 1px solid #484848;
}

.navbar-wagon-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}
